@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model auth5.ViewModels.HomePage
@{
    ViewData["Title"] = "Home Page";
}
@Localizer["RecentItems"]:
@foreach(Item i in Model.Items){
    <a class="btn btn-primary" id="open" asp-area="" asp-action="OpenItem" asp-controller="Collections" asp-route-id="@i.Id">Id: @i.Id</a>
}
<div class="nav justify-content-center">@Localizer["BiggestCollections"]:</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">@Localizer["Title"]</th>
                <th scope="col">@Localizer["Theme"]</th>
                <th scope="col">@Localizer["Description"]</th>
                <th scope="col">@Localizer["Owner"]</th>
                <th style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collections)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Theme</td>
                    <td>@item.Description</td>
                    <td>@item.OwnerEmail</td>
                    <td style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;">
                                <a class="btn btn-primary" id="open" asp-area="" asp-action="OpenCollection" asp-controller="Collections" asp-route-id="@item.Id">@Localizer["Open"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>