@model auth5.ViewModels.HomePage
@{
    ViewData["Title"] = "Home Page";
}
Most recent items:
@foreach(Item i in Model.Items){
    <a class="btn btn-primary" id="open" asp-area="" asp-action="OpenItem" asp-controller="Collections" asp-route-id="@i.Id">Id: @i.Id</a>
}
<div class="nav justify-content-center">The biggest collections:</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Theme</th>
                <th scope="col">Description</th>
                <th scope="col">Owner</th>
                <th style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collections)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Theme</td>
                    <td>@item.Description</td>
                    <td>@item.OwnerEmail</td>
                    <td style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;">
                                <a class="btn btn-primary" id="open" asp-area="" asp-action="OpenCollection" asp-controller="Collections" asp-route-id="@item.Id">Open</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>