@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<auth5.Models.User>
@{
    ViewData["Title"] = "User management";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="display: none;" class="hidden">@User.FindFirst(x => x.Type == ClaimsIdentity.DefaultNameClaimType).Value</div>
<div class="nav justify-content-center">
    @if (User.IsInRole("admin"))
    {
        <button class="btn block">
            <i class="fa fa-lock"></i>
            <div>@Localizer["Block"]</div>
        </button>
        <button class="btn unblock">
            <i class="fa fa-unlock"></i>
            <div>@Localizer["Unblock"]</div>
        </button>
        <button class="btn delete">
            <i class="fa fa-user-times"></i>
            <div>@Localizer["Delete"]</div>
        </button>
        <button class="btn promote">
            <i class="fa fa-level-up"></i>
            <div>@Localizer["Promote"]</div>
        </button>
        <button class="btn demote">
            <i class="fa fa-level-down"></i>
            <div>@Localizer["Demote"]</div>
        </button>
    }
</div>
<div class="container" style="margin-top: 1em;">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="active" scope="col">
                            <input type="checkbox" class="select-all checkbox" name="select-all">
                        </th>
                        <th scope="col">Id</th>
                        <th scope="col">@Localizer["Name"]</th>
                        <th scope="col">@Localizer["Email"]</th>
                        <th scope="col">@Localizer["RegDate"]</th>
                        <th scope="col">@Localizer["LastLogin"]</th>
                        <th scope="col">@Localizer["Status"]</th>
                        <th scope="col">@Localizer["Role"]</th>
                        <th style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="active">
                                @if (item.Status != "Immune")
                                {
                                    <div>
                                        <input type="checkbox" class="select-item checkbox" name="select-item">
                                    </div>
                                }
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.LastLogin</td>
                            <td>@Localizer[item.Status]</td>
                            <td>@(Localizer[item.RoleId == 1 ? "Admin" : "User"])</td>
                            <td style="border-top-style:hidden;border-bottom-style:hidden;border-right-style:hidden;">
                                <a class="btn btn-primary" id="mypage" asp-area="" asp-action="PersonalPage" asp-controller="Account" asp-route-id="@item.Id">@Localizer["PersonalPage"]</a>
                            </td>
                        </tr>    
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function(){
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });
    });
    $(function(){
        $("button.block").click(function(){
            var values = getselected();
            $.post('@Url.Action("Block","Account")',{id:values}, function(response){
                if(response){
                    $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td").next("td").next("td").next("td"),
                        function(){
                            $(this).text("@Localizer["Blocked"]");
                        });
                }
            });
            $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td"),
                function(){
                    if($(this).text() == $("div.hidden").text()){
                        document.getElementById("logout").click();
                    }
            });
        });
    });
    $(function(){
        $("button.unblock").click(function(){
            var values = getselected();
            $.post('@Url.Action("Unblock","Account")',{id:values}, function(response){
                if(response){
                    $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td").next("td").next("td").next("td"),
                        function(){
                            $(this).text("@Localizer["Normal"]");
                        });
                }
            });
        });
    });
    $(function(){
        $("button.delete").click(function(){
            var values = getselected();
            $.post('@Url.Action("Delete","Account")',{id:values}, function(response){
                if(response){
                    $.each($("input.select-item:checked"),
                        function(){
                            var row = $(this).closest('tr');
                            row.remove();
                        });
                }
            });
            $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td"),
                function(){
                    if($(this).text() == $("div.hidden").text()){
                        document.getElementById("logout").click();
                    }
            });
        });
    });
    $(function(){
        $("button.promote").click(function(){
            var values = getselected();
            $.post('@Url.Action("Promote","Account")',{id:values}, function(response){
                if(response){
                    $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td").next("td").next("td").next("td").next("td"),
                        function(){
                            $(this).text("@Localizer["Admin"]");
                        });
                }
            });
        });
    });
    $(function(){
        $("button.demote").click(function(){
            var values = getselected();
            $.post('@Url.Action("Demote","Account")',{id:values}, function(response){
                if(response){
                    $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td").next("td").next("td").next("td").next("td"),
                        function(){
                            $(this).text("@Localizer["User"]");
                        });
                }
            });
            $.each($("input.select-item:checked").closest("td").next("td").next("td").next("td"),
                function(){
                    if($(this).text() == $("div.hidden").text()){
                        document.getElementById("logout").click();
                    }
            });
        });
    });
    function getselected(){
        var values = new Array();
            $.each($("input.select-item:checked").closest("td").next("td"),
                function () {
                    values.push($(this).text());
                });
        return values;
    }
</script>